@media (max-width: 800px) {
  padding-left: 50pt;
  padding-right: 50pt;
}
.Profilepic {
  width: 300px;
}

.Biotext {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-top: 50pt;
  height: 100%;
}

.biotextcenter {
  vertical-align: middle;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-style: dashed;
  border-color: purple;
}

.formText {
  padding-top: 50pt;
  padding-left: 15pt;
  padding-right: 15pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.contact {
  text-align: center;
  border-bottom: 2px solid purple;
}
